.alert-management-details {
  // these styles need to be deleted once GlTable component looks in GitLab same as in @gitlab/ui
  table {
    tr {
      td {
        @include gl-border-0;
        @include gl-p-5;
        border-color: transparent;

        &:not(:last-child) {
          border-bottom: 1px solid $table-border-color;
        }

        &:first-child {
          div {
            font-weight: bold;
          }
        }

        &:not(:first-child) {
          &::before {
            color: $gray-500;
            font-weight: normal !important;
          }

          div {
            color: $gray-500;
          }
        }

        @include media-breakpoint-up(sm) {
          div {
            text-align: left !important;
          }
        }
      }

      &:last-child {
        &::after {
          content: none !important;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .alert-details-incident-button {
      width: 100%;
    }
  }

  .toggle-sidebar-mobile-button {
    right: 0;
  }

  .dropdown-menu-toggle {
    &:hover {
      background-color: $white;
    }
  }

  .assignee-dropdown-item {
    .dropdown-item {
      display: flex;
      align-items: center;

      &::before {
        top: 50% !important;
      }

      &.is-active {
        &:last-child {
          border-bottom: 1px solid $gray-100;
        }
      }
    }
  }

  .main-notes-list::before {
    left: 15px !important;
  }

  .note-header-info {
    @include gl-mt-1;
  }
}
